body {
    color: #444;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    font-family: ZhiFont,Helvetica Neue,Roboto,Segoe UI,Microsoft YaHei,sans-serif;
    background-color: #efeff4;
}
*{
  margin: 0px;
  padding: 0px;
}
body, html {
    margin: 0;
    padding: 0;
    border: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}*/
